body, card-body{

  background: #f5f5dc;
}

button {
  position: absolute;
  top: 0px;
  width: 0px;
  height: 0px;
  background: #f5f5dc; 
}


.background {

    position: absolute;
    top: 50px;
    left: 270px;
}

/*text for a Title*/
p {
    position: relative;
    top: 130px;
    text-align: center;
    color: navy;
    z-index: 2;
}

/* start button*/

.start { 

  position: absolute;
  text-align: center;
  font-size: 24px;
  color: navy;
  background: #ffdb4d;
  left: 900px;
  top: 810px;
  width: 100px;
  height:50px;
  z-index: 1;
}


/* reset button*/

.reset{

  position: absolute;
  text-align: center;
  font-size: 24px;
  color: navy;
  background: #ffdb4d;
  left: 900px;
  top: 810px;
  width: 100px;
  height:50px;
  z-index: 1;
}

/*results information on the last page*/

#results {

  position: absolute;
  text-align: center;
  font-size: 24px;
  color: navy;
  background: #ffdb4d;
  left: 750px;
  top: 400px;
  width: 400px;
  height:300px;
  z-index: 1;
}

/* location of pictures on the first page*/

.lake {

  position: absolute;
  text-align: center;
  font-size: 24px;
  color: navy;
  left: 370px;
  top: 150px;
  z-index: 1;
}

.beach {

  position: absolute;
  text-align: center;
  font-size: 24px;
  color: navy;
  left: 1239px;
  top: 530px;
  z-index: 1;
}

.mountain {

  position: absolute;
  text-align: center;
  font-size: 24px;
  color: navy;
  top: 530px;
  left: 1230px;
  top: 150px;
  z-index: 1;
}

.river {

  position: absolute;
  text-align: center;
  font-size: 24px;
  color: navy;
  left: 370px;
  top: 530px;
  z-index: 1;
}

/* timeline*/

#display,  #display1, #display2, #display3, #display4{

  position: relative;
  top: 700px;
  left:800px;
  font-family: monospace;
  font-size: 20px;
  width: 300px;
  height: 40px;
  color: navy;
  text-align: center;
  background: lightblue;
  z-index: 1;
}

/*location of questions*/

#question1, #question2, #question3, #question4 {

  position: relative;
  top: 150px;
  font-family: monospace;
  font-weight:bold
  font-size: 48px;
  width: 100%;
  height: 40px;
  color: #ffcc00;
  text-align: center;
  z-index: 1;
}

/* guesses buttons*/

.guesses {

  position: relative;
  top: 600px;
  left: 750px;
  font-family: monospace;
  font-weight:bold
  font-size: 48px;
  width: 400px;
  height: 40px;
  color: navy;
  text-align: center;
  background: lightblue;
  z-index: 1;
}

/*correct and incorrect answers */

#informationA {

  position: relative;
  top: 150px;
  left:800px;
  font-family: monospace;
  font-size: 20px;
  width: 300px;
  height:240px;
  color: navy;
  text-align: center;
  background: green;
  z-index: 1;
}

#informationB {

  position: relative;
  top: 150px;
  left:800px;
  font-family: monospace;
  font-size: 20px;
  width: 300px;
  height:240px;
  color: navy;
  text-align: center;
  background: red;
  z-index: 1;
}







