body { /* Visual */
  background: #f5f5dc;
}

#display {
  font-family: monospace;
  font-size: 20px;
  width: 400px;
  height: 40px;
  color: navy;

  /* Typography */
  text-align: center;

  /* Visual */
  background: gray;
}

#wrapper {
  /* Box-model */
  width: 600px;

  /* Positioning */
  margin: 50px auto 0;
}

#buttons { /* Typography */
  text-align: center;
}

#information, #wins {

  font-size: 30px;
  width: 550px;
  height: 50px;
  color: navy;

  /* Typography */
  text-align: center;


}

button {
  width: 100px;

  /* Box-model */
  height: 50px;
}

form {
  
  margin-left: 50px;
  width: 800px;
  height: 50px;
}