body { /* Visual */
  background: #f5f5dc;
}

#display {
  font-family: monospace;
  font-size: 60px;
  color: navy;

  /* Typography */
  text-align: center;

  /* Visual */
  background: gray;
}

#wrapper {
  /* Box-model */
  width: 150px;

  /* Positioning */
  margin: 50px auto 0;
}

#buttons { /* Typography */
  text-align: center;
}

button {
  width: 100px;

  /* Box-model */
  height: 50px;
}

